:host([on]) svg {
  fill: var(--push-button-primary-color);
  stroke: var(--push-button-primary-color);
}

:host svg {
  fill: var(--push-button-primary-tint);
  stroke: var(--push-button-primary-tint);
}