/* img {
    width: 32px;
    height: 32px;
    stroke: red !important;
    fill: red !important;
    background-color: red;
}

.active {
    color: #20a7e6;
}

.inactive {
    color: lightgray;
}

:hover img {
    background-color:red;
    cursor: pointer;
} */